In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'city': ['Beijing', 'Shanghai', 'Guangzhou', 'Shenzhen', 'Hangzhou', 'Chongqing'],
       'year': [2016,2016,2015,2017,2016, 2016],
       'population': [2100, 2300, 1000, 700, 500, 500]}

In [5]:
frame = pd.DataFrame(data, columns = ['year', 'city', 'population', 'debt'])

In [6]:
frame.head()

   year       city  population debt
0  2016    Beijing        2100  NaN
1  2016   Shanghai        2300  NaN
2  2015  Guangzhou        1000  NaN
3  2017   Shenzhen         700  NaN
4  2016   Hangzhou         500  NaN

In [7]:

def function(a, b):
    if 'ing' in a and b == 2016:
        return 1
    else:
        return 0

In [9]:
frame['test'] = frame.apply(lambda x: function(x.city, x.year), axis = 1)

In [8]:
print(frame, '\n')

   year       city  population debt
0  2016    Beijing        2100  NaN
1  2016   Shanghai        2300  NaN
2  2015  Guangzhou        1000  NaN
3  2017   Shenzhen         700  NaN
4  2016   Hangzhou         500  NaN
5  2016  Chongqing         500  NaN

In [10]:
print(frame)

   year       city  population debt  test
0  2016    Beijing        2100  NaN     1
1  2016   Shanghai        2300  NaN     0
2  2015  Guangzhou        1000  NaN     0
3  2017   Shenzhen         700  NaN     0
4  2016   Hangzhou         500  NaN     0
5  2016  Chongqing         500  NaN     1