In [1]:
import pandas as pd
import re

In [2]:
data = pd.read_excel(r"F:\temp\190523\jiexi.xlsx")

In [3]:
data.columns

Index(['收货地址', '订单编号', '所在省', '所在市', '收货人地址', 're_district_gaode',
       're_formatted_address_gaode', 're_level_gaode', 're_location_gaode',
       're_number_gaode', 're_province_gaode', 're_street_gaode'],
      dtype='object')

In [4]:
data.head()

,收货地址,订单编号,所在省,所在市,收货人地址,re_district_gaode,re_formatted_address_gaode,re_level_gaode,re_location_gaode,re_number_gaode,re_province_gaode,re_street_gaode
0,45100,609907814000008319051506314841,山西,阳泉市,山西阳泉市45100,[],山西省阳泉市,市,"113.580519,37.856971",[],山西省,[]
1,123456,600205853000008319051506409213,云南,曲靖市,云南曲靖市123456,[],云南省曲靖市,市,"103.796167,25.489999",[],云南省,[]
2,585170,600203843000008319051506343117,湖南,邵阳市,湖南邵阳市585170,[],湖南省邵阳市,市,"111.467791,27.238892",[],湖南省,[]
3,702995,600103832000008319051506315569,江苏,徐州市,江苏徐州市702995,[],江苏省徐州市,市,"117.284124,34.205768",[],江苏省,[]
4,372930200105200000,609903837100008319051506419891,山东,菏泽市,山东菏泽市372930200105200000,[],山东省菏泽市,市,"115.480656,35.233750",[],山东省,[]

In [23]:
data["re_formatted_address_gaode"] = data["re_formatted_address_gaode"].fillna("XX省XX市")
df = data[data["re_formatted_address_gaode"].str.contains("^.*省\w{1,4}市$",regex=True)]
df["re_formatted_address_gaode"][0:50]

0        山西省阳泉市
1        云南省曲靖市
2        湖南省邵阳市
3        江苏省徐州市
4        山东省菏泽市
19       海南省儋州市
23       四川省内江市
34       山西省晋中市
43       甘肃省金昌市
65      河北省石家庄市
80      黑龙江省绥化市
81       河北省承德市
92       山西省忻州市
93       四川省宜宾市
97       四川省南充市
105      贵州省贵阳市
138     河南省驻马店市
255      安徽省阜阳市
371      云南省保山市
390      河北省衡水市
562      浙江省宁波市
583      山东省聊城市
596     黑龙江省大庆市
607      贵州省毕节市
776      吉林省白城市
817      四川省南充市
986     黑龙江省鸡西市
1030     广东省清远市
1034     吉林省松原市
1066     贵州省毕节市
1091     江苏省无锡市
1092     山东省济宁市
1100     贵州省遵义市
1109     湖北省十堰市
1205     广东省湛江市
1297     河南省商丘市
1406     吉林省四平市
1427     河北省保定市
1428     河北省保定市
1443     广东省深圳市
1514     吉林省吉林市
1558     山东省济宁市
1573     辽宁省朝阳市
1598     山西省晋城市
1603     山西省晋城市
1662     河北省沧州市
1676     广东省广州市
1693     河南省濮阳市
1694     甘肃省武威市
2173     河南省开封市
Name: re_formatted_address_gaode, dtype: object

In [24]:
data["dai"] = data["re_formatted_address_gaode"].str.contains("^.*省\w{1,4}市$",regex=True)

In [25]:
data["dai"].value_counts()

False    46408
True       963
Name: dai, dtype: int64

In [18]:
data["dai"][0:50]

0      True
1      True
2      True
3      True
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23     True
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34     True
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43     True
44    False
45    False
46    False
47    False
48    False
49    False
Name: dai, dtype: bool

In [27]:
data.to_excel(r"F:\temp\190523\test1.xlsx",index=False)