In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"D:\Tableau\test/aaa.csv")
# data = pd.read_excel("D:/Tableau/test/ttt.xlsx",sheet_name='aaa',header=0)

In [3]:
data.columns

Index(['City', 'Customer ID', 'Customer Name', 'Customer Segment', 'Discount',
       '记录数', 'Order Date', 'Order ID', 'Order Priority', 'Postal Code',
       'Product Base Margin', 'Product Category', 'Product Container',
       'Product Name', 'Product Sub-Category', 'Profit',
       'Quantity ordered new', 'Region', 'Row ID', 'Sales', 'Ship Date',
       'Ship Mode', 'Shipping Cost', 'State or Province', 'Unit Price'],
      dtype='object')

In [4]:
df = data[["Customer ID","Order ID"]]

In [5]:
# df1 = df.copy()
df1 = df.drop_duplicates(subset=['Customer ID','Order ID'],keep='first')
df1.shape

(7123, 2)

In [6]:
df2 = df1["Customer ID"].value_counts(sort=True)
df2

1193    17
2882    16
2491    15
308     15
699     15
1745    14
1129    13
2107    13
3079    13
272     13
1106    13
1959    12
1413    12
553     11
3151    11
1821    11
3289    10
1723    10
2006    10
640     10
3251    10
1314     9
2007     9
2548     9
894      9
3004     9
607      9
949      9
1999     9
604      9
        ..
3235     1
433      1
437      1
2488     1
2492     1
3315     1
1174     1
457      1
2508     1
461      1
2512     1
3215     1
421      1
3247     1
1202     1
413      1
3259     1
409      1
1218     1
405      1
3267     1
1222     1
1226     1
2444     1
3291     1
2440     1
1258     1
3307     1
3311     1
2047     1
Name: Customer ID, Length: 2703, dtype: int64

In [7]:
df3 = pd.DataFrame(df2)
df3 = df3.reset_index()
df3.head()

   index  Customer ID
0   1193           17
1   2882           16
2   2491           15
3    308           15
4    699           15

In [8]:
df4 = df3.drop_duplicates(subset=['index'],keep='first')
# df4 = df3.copy()

In [9]:
df4["Customer ID"].value_counts(sort=True)

1     1027
2      479
3      439
4      366
5      224
6       92
7       29
8       16
9       10
13       5
10       5
11       3
15       3
12       2
16       1
14       1
17       1
Name: Customer ID, dtype: int64