In [1]:
import pandas as pd
import re

In [2]:
date = "1901"
carrier = "ems"

inputpath = "G:\\work\\logistica\\info\\input\\cha\\"+date+"cha\\"
inputname = date + "cha_"+carrier+".csv"
outpath = "G:\\work\\logistica\\info\\output\\CHA\\CSV\\"
outname1 = date+"_"+carrier+"_LS_cha"
outname2 = date+"_"+carrier+"_DM_cha"
outname3 = date+"_"+carrier+"_ST_cha"

In [3]:
df = pd.read_csv(inputpath + inputname,sep = None,encoding='utf8')
df.shape

d:\python\envs\jupyterpy36\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

(1160687, 11)

In [4]:
df.head()

,"﻿""ORDER_ID""",MAIL_NO,ORDER_STATUS,PROV_NAME,CITY_NAME,CHANNEL_ID,LOGISTICS_COMPANY,ROUTE_TIME,ACTION,PARTNER_ACTION,DESCRIPTION
0,600000000000008319010199322336,1130712978717,交易完成,山东,济宁,20001.0,ems,2019-01-02 11:16:00.000000000,NaN,00,"山东省分公司商企揽投部已收件（揽投员姓名：杨晓光,联系电话:17685416816）"
1,600000000000008319010199322336,1130712978717,交易完成,山东,济宁,20001.0,ems,2019-01-02 23:09:20.000000000,NaN,40,离开济南市 发往济宁市
2,600000000000008319010199322336,1130712978717,交易完成,山东,济宁,20001.0,ems,2019-01-03 02:58:01.000000000,NaN,41,到达 中国邮政集团公司济宁市分公司邮区中心局邮件处理中心 处理中心
3,600000000000008319010199322336,1130712978717,交易完成,山东,济宁,20001.0,ems,2019-01-03 05:27:00.000000000,NaN,40,离开中国邮政集团公司济宁市分公司邮区中心局邮件处理中心 发往汶上县邮政局投递分局
4,600000000000008319010199322336,1130712978717,交易完成,山东,济宁,20001.0,ems,2019-01-03 08:02:00.000000000,NaN,41,到达汶上县邮政局投递分局

In [5]:
print(df["PARTNER_ACTION"].value_counts())

40      367765
41      309412
50      177979
00      136942
10      134780
20       29944
离开        1991
到达        1612
已转         110
正在投递        83
已妥投         65
已经收寄         3
Name: PARTNER_ACTION, dtype: int64

In [6]:
print(df["PARTNER_ACTION"].isnull().value_counts())

False    1160686
True           1
Name: PARTNER_ACTION, dtype: int64

In [7]:
df = df.dropna(subset=["PARTNER_ACTION"],axis=0)

In [8]:
print(df["PARTNER_ACTION"].isnull().value_counts())

False    1160686
Name: PARTNER_ACTION, dtype: int64

In [9]:
df = df[df["PARTNER_ACTION"].str.contains("\d+",regex=True)]
print(df["PARTNER_ACTION"].value_counts())

40    367765
41    309412
50    177979
00    136942
10    134780
20     29944
Name: PARTNER_ACTION, dtype: int64

In [15]:
df["PARTNER_ACTION"] = df["PARTNER_ACTION"].map(lambda x:int(x))

In [16]:
df1 = df[df["PARTNER_ACTION"] == 50].reset_index(drop=True)

In [17]:
df1.shape

(177979, 11)